
.siema__wrapper {
  height: 80vh;
  padding: 50px 0;
}

.siema__wrapper2 {
  min-height: 35vh;
}

.siema,
.siema > div,
.siema > div > div {
  height: 100% !important;
}

.siema {
  overflow: visible !important;
  max-width: 100vw;
}

.slide {
  height: 100% !important;
  cursor: grab;
}
.slide > img {
  display: block;
  height: 100%;
  width: calc(100% - 20px);
  margin: 0 10px;
  object-fit: cover;
}

.slide:first-child > img {
  margin: 0 0px;
}

.slide .alert-danger{
  margin-right:1em !important;
  padding-bottom: 1em !important;
}

@media (max-width: 576px) {
  siema__wrapper2{
    overflow: hidden!important;
  }
}
